/* START GENERAL RULES */

:root{
    --main-color: #006394; /* colore background buttons */
    --hover-color: #007ab8; /* colore background buttons hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

/* END GENERAL RULES */

/* START HEADER RULES */

/* TODO: aggiusta bottoni in alto */

.main-button {
    list-style: none;
    margin: 5px;
    background: var(--main-color);
    color: white;
    font: normal 600 0.9375em/1.7333333333 "Droid Sans",Helvetica,sans-serif;
    padding: 7% 5%;
    border-radius: 4px;
    text-align: center;
}

.main-button:hover {
    background: var(--hover-color);
    text-decoration: underline;
}

.site-header {
    background-color: #fff;
    position: relative;
    margin: 20px 50px 0 50px;
}

.navbar-top {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.button-list {
    display: flex;
}

.sections {
    display: flex;
    flex-direction: row;
}

.sections-list {
    display: flex;
    list-style: none;
}

#all-sections-item {
    margin-left: 40px;
    margin-top: 8px;
}

.hamburger-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hamburger-line {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.navbar-mid {
    display: flex;
}

#site-logo {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navbar-bottom{
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

#page {

}

.menu-navbar-bottom {
    align-content: center;
    justify-content: center;
    margin: auto;
}

#menu-list li{
    list-style: none;
    display: inline;
    margin-left: 15px;

}

#menu-list li:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

/* END HEADER RULES */

/* START BODY RULES */

.content {
    display: flex;
}

.content-header {
    display: flex;
    flex: auto;
}

#trending {
    color: var(--hover-color);
    margin-left: 50px;
    font-size: .875em;
}

.content-header-list {
    display: flex;
    margin: auto;
    align-content: center;
}

.content-header-list li{
    color: #38322a;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 15px;
    text-align: center;
    font-size: 15px;
}

/* END BODY RULES */