/* START GENERAL RULES */

:root{
    --main-color: #006394; /* colore background buttons*/
    --hover-color: #007ab8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

/* END GENERAL RULES */

/* START HEADER RULES */

.main-button {
    list-style: none;
    margin: 5px;
    background: var(--main-color);
    color: white;
    font: normal 600 0.9375em/1.7333333333 "Droid Sans",Helvetica,sans-serif;
    padding: 7% 5%;
    border-radius: 4px;
    text-align: center;
}

.main-button:hover {
    background: var(--hover-color);
    text-decoration: underline;
}

.site-header {
    background-color: #fff;
    position: relative;
    margin: 20px 50px 0px 50px;
}

.navbar-top {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}

.button-list {
    display: flex;
}

#sections {
    line-height: 100%;
}

/* END HEADER RULES */