/* START GENERAL RULES */

:root{
    --main-color: #006394; /* colore background buttons */
    --hover-color: #007ab8; /* colore background buttons hover */
    --text-color: #38322a; /* colore font testo */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

/* END GENERAL RULES */

/* START HEADER RULES */

.main-button {
    list-style: none;
    margin: 5px;
    background: var(--main-color);
    color: white;
    font: normal 600 0.9375em/1.7333333333 "Droid Sans",Helvetica,sans-serif;
    padding: 7% 5%;
    border-radius: 4px;
    text-align: center;
}

.main-button:hover {
    background: var(--hover-color);
    text-decoration: underline;
}

.site-header {
    background-color: #fff;
    position: relative;
    margin: 20px 50px 0 50px;
}

.navbar-top {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.button-list {
    display: flex;
}

.sections {
    display: flex;
    flex-direction: row;
}

.sections-list {
    display: flex;
    list-style: none;
}

#all-sections-item {
    margin-left: 40px;
    margin-top: 8px;
}

.hamburger-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hamburger-line {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.navbar-mid {
    display: flex;
}

#site-logo {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navbar-bottom{
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

#weather {
    display: flex;
}

.menu-navbar-bottom {
    align-content: center;
    justify-content: center;
    margin: auto;
}

#menu-list li{
    list-style: none;
    display: inline;
    margin-left: 15px;

}

#menu-list li:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

/* END HEADER RULES */

/* START BODY RULES */

.content-header {
    display: flex;
    flex: auto;
}

#trending {
    color: var(--hover-color);
    font-size: .875em;
}

.content-header-list {
    display: flex;
    margin: auto;
    align-content: center;
}

.content-header-list li{
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-left: 15px;
    text-align: center;
    font-size: 15px;
}

.content-header-list li:hover {
    color: var(--hover-color);
}

.content-main {
    display: flex;

}

.main-article {
    display: flex;
    margin: 40px 0 0 50px;

}

#main-article-text {
    text-align: center;
}

#main-article-title {
    font-size: 29px;
    margin-right: 15px;
}

#main-article-paragraph {
    font-size: 15px;
    color: var(--text-color);
    margin: 15px 0 15px;
}

#main-article-img {
    display: flex;
}

.headlines {
    display: flex;
    flex-direction: column;
}

#headlines-header {
    padding: 0 0 6.25px;
    font-size: 20px;
    color: var(--text-color);
    border-bottom: 2px solid var(--hover-color);
    display: flex;
    padding-bottom: 0.3125em;
    margin: 40px 0 0 20px;
}

.headlines-articles {
    font-size: 12px;
}

.headlines-title {
    border-bottom: 1px solid black;
    margin: 20px 0 0 20px;

}

.bottom-articles {
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    width: 50%;
}

.article {
    padding: 10px;
}

.recommended {
    display: table;
    flex-wrap: wrap;
    padding-left: 40px;
}

#recommended-title {
    font-size: 20px;
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
    padding-bottom: 5px;
}

#recommended-list {
    list-style-type: none;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

#recommended-list li {
    margin-bottom: 5px;
    counter-increment: step-counter;
}


#recommended-list li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 80%;
    background-color: var(--hover-color);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
}

.last-articles-container {
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 40px;
}

.last-article-headline {
    font-size: 18px;
    color: var(--text-color);
    border-bottom: 2px solid var(--hover-color);
    padding-bottom: 5px;
    margin-bottom: 12px;
}

.last-articles {
    margin-top: 20px;
}

.last-articles-text {
    display: grid;
}

.last-articles-title {
    margin-left: 10px;
    grid-column: 2;
    grid-row: 1;
}

.last-articles-image {
    grid-column: 1;
    grid-row: 1;
}

.last-articles-aside {
    grid-column: 3;
    grid-row: 1;

}

.last-articles-aside-text {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 8px;
    margin-top: 8px;
    margin-left: 20px;
    font-weight: bold;
}
/* END BODY RULES */

/* START FOOTER RULES */

.footer {
    margin-bottom: 30px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    padding: 20px;
}

.footer ul{
    list-style-type: none;
    padding: 15px;
}

.footer ul li {
    margin: 10px;
    display: inline;
}

/* END FOOTER RULES */
