/* START GENERAL RULES */

:root{
    --main-color: #006394; /* colore background */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

.main-button {
    padding: 5px;
    list-style: none;
    margin: 10px;
    background: var(--main-color);
    padding: 9.45px 6.75px;
    color: white;
    border-radius: 5px;
}

/* END GENERAL RULES */

/* START HEADER RULES */

.site-header {
    background-color: #fff;
    position: relative;
    margin: 20px 50px 0px 50px;
}

.navbar-top {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}

.button-list {
    display: flex;
}

#sections {
    line-height: 100%;
}

/* END HEADER RULES */